@model VolleyballLeagueManagement.Management.Contracts.ViewModels.RemoveViewModel

<h4>Usuń ligę</h4>
<hr/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p style="padding-left: 15px">
        Jesteś pewien, że chcesz usunąć swoją ligę?
    </p>

    <div class="form-group row" style="padding-left: 30px">
        <input type="submit" value="Usuń" class="btn btn-default" />
    </div>

    <div class="form-group row" style="padding-left: 30px">
        @Html.ActionLink("Strona ligi", "Index")
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



